.topnav {
    overflow: hidden;
    background-color: #333;
    display: none;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .burgerbar{
    width: 32px;
    height: 32px;
    display: none;
  }
  .burgerbar img {
    width: 100%;
  }
  .gallery-img-wraper-mobile{
    display: none;
}
@media (max-width:1024px){
  .header-button{
    display: none;
  }
}
  @media (max-width:1024px){
    .topnav{
        display: block;
    }
    .header-navigation{
        display: none;
    }
    .burgerbar{
        display: block;
    }
  }
  @media (max-width: 1270px){
    .gallery-img-wraper{
      gap: 30px;
    }
    .gallery-img-wraper img{
      max-width: 221px;
    }
  }
  @media (max-width: 974px){
    .gallery-img-wraper{
      gap: 20px;
    }
    .gallery-img-wraper img{
      max-width: 180px;
    }
  }
  @media (max-width: 780px){
    .gallery-img-wraper{
      gap: 15px;
    }
    .gallery-img-wraper img{
      max-width: 145px;
    }
  }
  @media (max-width: 625px){
    .gallery-img-wraper-mobile{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      margin-top: 40px;
    }
    .gallery-img-wraper-mobile img{
      max-width: 40%;
    }
    .gallery-img-wraper{
      display: none;
    }
  }
  @media(max-width:720px){
    .about-h3{
      font-size: 25px;
      margin-left: 10px;
    }
  }
  @media(max-width:720px){
    .about-p{
      font-size: 13px;
      
      margin-left: 10px;

    }
  }
  @media(max-width:720px){
    .blog-img{
      display: flex;
      margin: 0 auto;
      max-width: 80%;
    }
  }
    
  @media (max-width:720px)  {
    .about-button{
      font-size: 13px;
      margin-left: 10px;
      width: 120px;

    }
    
  }
  @media(max-width:320px){
    .about-h3{
      font-size: 15px;
      margin-left: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  @media(max-width:320px){
    .about-p{
      font-size: 10px;
      margin-left: 10px;

    }
  }
    
  @media (max-width:320px)  {
    .about-button{
      font-size: 13px;
      max-width: 364px;
      
      
    }
    
  }
  @media (max-width:720px){
    .gallery-h{
      font-size: 25px;

    }
  }
  @media (max-width:720px){
    .gallery-p{
      font-size: 13px;
    }
  }
  @media (max-width:720px){
    .explore-button{
      font-size: 13px;
    }
  }
  
  @media (max-width:320px){
    .gallery-h{
      font-size: 15px;
    }
  }
  @media (max-width:320px){
    .gallery-p{
      font-size: 10px;
    }
  }
  @media (max-width:720px){
    .explore-button{
      font-size: 13px;
      max-width: 364px;
      height: 56px;
    }
  }
  @media (max-width:720px){
    .blog-wraper-h{
      font-size: 25px;
      margin-left: 10px;
      display: flex;
     
    }
   }
  @media (max-width:320px){
   .blog-wraper-h{
      
    font-size: 15px;
    
   }
  }
  @media (max-width:720px){
    .blog-wraper{
      
       display: flex;
       flex-wrap: wrap;
       width: 100%;
      justify-content: center;
    }
   }
   @media (max-width:320px){
    .blog-wraper{
       display: flex;
       flex-wrap: wrap;
       width: 100%;
      justify-content: center;
    }
   }
   @media (max-width:720px){
    .blog-h{
      font-size: 25px;
    }
   }
   @media (max-width:320px){
    .blog-h{
      font-size: 15px;
    }
   }
   @media (max-width:720px){
    .calendar{
      font-size: 15px;
    }
   }
   @media (max-width:320px){
    .calendar{
      font-size: 12px;
    }
   }
   @media (max-width:320px){
    .blog-h{
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-self: center;
    }
   }

   @media (max-width:720px){
    .blog-p{
      font-size: 15px;
    }
   }
   @media (max-width:720px){
    .blog-p{
      font-size: 12px;
      width: 200px;
    }
   }
   @media (max-width:720px){
    .blog-button{
      font-size: 13px;
      max-width: 364px;
      height: 56px;
      margin-top: 10px;
    }
  }
  @media (max-width:720px){
    .contact-container{
      
       display: flex;
       flex-wrap: wrap;
       width: 100%;
      justify-content: center;
    }
   }
   @media (max-width:720px){
    .contact-h{
      font-size: 25px;
    }
   }
   @media (max-width:320px){
    .contact-h{
      font-size: 15px;
      margin-left: 15px;
    }

   }
   @media (max-width:320px){
    .contact-p{
      font-size: 13px;
      margin-left: 15px;
    }
   }
   @media (max-width:720px){
    .touch-p{
      font-size: 15px;
    }
   }
   @media (max-width:320px){
    .touch-p{
      font-size: 13px;
      margin-left: 15px;
    }
   }
   @media (max-width:720px){
    .form-container{
      width: 350px;
    }
   }
   @media (max-width:720px){
    .form-input{
      width: 300px;
    }
   }
   @media (max-width:720px){
    .form-input1{
      width: 300px;
    }
   }
   @media (max-width:320px){
    .form-input1{
      width: 200px;
    }
   }
   @media (max-width:400px){
    .footer-container{
      display: flex;
      flex-direction: column;
      
    }
   }
   @media (max-width:400px){
    .footer-contact-wraper{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      
    }
   }
   @media (max-width:400px){
    .socialicons-wraper{

      margin-top: 20px;
      
    }
   }

   
   @media (max-width:320px){
    .footer-container{
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      
    }
   }
   @media (max-width:320px){
    .logo{
     font-size: 15px;
      
    }
   }
   @media (max-width:487px){
    .header-button{
     display: none;
      
    }
   }
   @media (max-width:320px){
    .burgerbar{
     width: 20px;
     height: 20px;
      
    }
   }
   @media (max-width:320px){
    .text-wraper{
      width: 300px;
   
      
    }
   }
   @media (max-width:320px){
    .spec-p{
      font-size: 15px;
   
      
    }
   }
   @media (max-width:320px){
    .drink-p{
      font-size: 20px;
   
      
    }
   }
   @media (max-width:320px){
    .vector1{
      width: 200px;
      margin-left: 25px;
   
      
    }
   }
   @media (max-width:320px){
    .vector2  {
      width: 200px;
      margin-left: 25px;
   
      
    }
   }
   @media (max-width:320px){
    .form-label{
      
      margin-left: 25px;
   
      
    }
   }
   @media (max-width:320px){
    .checkbox-p{
      font-size: 13px;
      width: 200px;
    }
  }
   
   
