.header-div{
    display: flex;
    justify-content: space-between;
}
.navigation-logo{
    font-family: "poppins";
    font-size: 28px;
    color: #323232;
    font-weight: 900;
    max-width: 194px;
    height: 24px;
    padding-left: 112px;
    padding-top: 40px;
}
.logo{
    color: #8D645A;
}
.nav-li{
    display: inline-block;
    vertical-align: top;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
    color: #323232;
    padding-top: 40px;
    margin-left: 32px;
}
.header-button{
    background-color: #8D645A;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    border-radius: 6px;
    width: 160px;
    height: 56px;
    color: #fff;
    margin: 16px 40px;
}
.image-wraper{
    width: 100%;
    height: 1000px;
    background-image: url(./assets/drinkhot.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.vector1{
    margin-bottom: -50px;
}
.vector2{
    margin-top: -85 px;
    margin-left: -40px;
}
.spec-p{
    font-family: "poppins";
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    margin-left: 40px;
}
.drink-p{
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    margin-left: 40px;
}


.image-wraper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section{
    display: flex;
    justify-content: center;
    width: 100%;
}
.about-wraper{
    background-image: url(./assets/vector5.svg);
    background-repeat: no-repeat;
    background-position: right;
    max-width: 1216px   ;
}
.about-h3{
    font-size: 36px;
    font-weight: 500;
    font-family: "poppins";
    margin-top: 80px;
}
.about-p{
    color: #747579;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 20px;
    font-family: "poppins";
    
   
}
.about-button{
    background-color: #8D645A;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    border-radius: 6px;
    width: 160px;
    height: 56px;
    color: #fff;
}
.gallery-container{
    margin-top: 120px;
}
.gallery-text-wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-h{
    font-size: 36px;
    font-weight: 500;
    font-family: "poppins";
    display: flex;
    justify-content: center;

}
.gallery-p{
    color: #747579;
    font-size: 20px;
    font-family: "poppins";
    font-weight: 400;
    max-width: 966px;
    margin-top: 20px;
    text-align: center;
}
.gallery-img-wraper{
   
    display: grid; 
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    margin-top: 40px;
    justify-content: center;
}
.gallery-button{
    display: flex;
    justify-content: center;
    margin-top: 56px;
}
.explore-button{
    background-color: #8D645A;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    border-radius: 6px;
    width: 160px;
    height: 56px;
    color: #fff;       
}
.blog-container{
    max-width: 1216px;

}
.blog-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.blog-wraper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}
.blog-wraper-h{
    font-size: 36px;
    font-weight: 500;
    font-family: "poppins";
    margin-top: 40px;
    margin-bottom: 40px;
}
.blog-h{
    font-size: 32px;
    font-weight: 500;
    font-family: "poppins";
}
.blog-p{
    color: #747579;
    font-size: 16px;
    font-family: "poppins";
}
.calendar{
    color: #747579;
}

.blog-button{
    color: #8D645A;
    max-width: 210px;
    width: 100%;
    height: 56px;
    border-radius:10px;
    font-size: 16px;
    font-weight: 500;   
    background-color: #fff;
}
.blog-text-wraper{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.contact-h{
    font-size: 36px;
    font-weight: 500;
    font-family: "poppins";
    margin-top: 40px;
    margin-bottom: 40px;
}
.contact-p{
    color: #747579;
    font-size: 16px;
    font-family: "poppins";
}
.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.contact-container{
    max-width: 1216px;
}