/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.navigation-logo{
    font-family: "poppins";
    font-size: 28px;
    color: #323232;
    font-weight: 900;
    max-width: 194px;
    height: 24px;
    padding-left: 112px;
    padding-top: 40px;
}
.logo{
    color: #8D645A;
}
.nav-li{
    display: inline-block;
    vertical-align: top;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
    color: #323232;
    padding-top: 40px;
    margin-left: 32px;
}
.header-button{
    background-color: #8D645A;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    border-radius: 6px;
    width: 160px;
    height: 56px;
    color: #fff;
    margin: 16px 40px;
}
.image-wraper{
    width: 100%;
    height: 1000px;
    background-image: url(./assets/drinkhot.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.vector1{
    margin-bottom: -50px;
}
.vector2{
    margin-top: -85 px;
    margin-left: -40px;
}
.spec-p{
    font-family: "poppins";
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    margin-left: 40px;
}
.drink-p{
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    margin-left: 40px;
}


.image-wraper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.about-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    background-image: url(./assets/vector5.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.about-wraper{
    max-width: 1216px   ;
}
.about-h3{
    font-size: 36px;
    font-weight: 500;
    font-family: "poppins";
    margin-top: 80px;
}
.about-p{
    color: #747579;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 20px;
    font-family: "poppins";
    
   
}
.about-button{
    background-color: #8D645A;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    border-radius: 6px;
    width: 160px;
    height: 56px;
    color: #fff;
}
.gallery-container{
    margin-top: 120px;
}
.gallery-text-wraper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.gallery-h{
    font-size: 36px;
    font-weight: 500;
    font-family: "poppins";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}
.gallery-p{
    color: #747579;
    font-size: 20px;
    font-family: "poppins";
    font-weight: 400;
    max-width: 966px;
    margin-top: 20px;
    text-align: center;
}
.gallery-img-wraper{
   
    display: -ms-grid;
   
    display: grid; 
    -ms-grid-columns: auto 50px auto 50px auto 50px auto; 
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    margin-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.gallery-button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 56px;
}
.explore-button{
    background-color: #8D645A;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    border-radius: 6px;
    width: 160px;
    height: 56px;
    color: #fff;       
}
.blog-container{
    max-width: 1216px;

}
.blog-section{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url(./assets/vector5.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.blog-wraper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;

}
.blog-wraper-h{
    font-size: 36px;
    font-weight: 500;
    font-family: "poppins";
    margin-top: 40px;
    margin-bottom: 40px;
}
.blog-h{
    font-size: 32px;
    font-weight: 500;
    font-family: "poppins";
}
.blog-p{
    color: #747579;
    font-size: 16px;
    font-family: "poppins";
}
.calendar{
    color: #747579;
}

.blog-button{
    color: #8D645A;
    max-width: 210px;
    width: 100%;
    height: 56px;
    border-radius:10px;
    font-size: 16px;
    font-weight: 500;   
    background-color: #fff;
}
.blog-text-wraper{
    margin-left: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
}
.contact-h{
    font-size: 36px;
    font-weight: 500;
    font-family: "poppins";
    margin-top: 40px;
    margin-bottom: 40px;
}
.contact-p{
    color: #747579;
    font-size: 16px;
    font-family: "poppins";
    max-width: 594px;
}
.contact-section{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 120px;
    background-image: url(./assets/vector9.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 120px;
}
.contact-container{
    width: 1216px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.touch-wraper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
}
.touch-p{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-left: 14px;
    
}
.contact-text{
    margin-bottom: 60px;
}
.form-label{ 
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
.form-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 564px;
    margin-top: 40px;
    -webkit-box-shadow: 0px 4px 40px rgba(43, 89, 255, 0.08);
            box-shadow: 0px 4px 40px rgba(43, 89, 255, 0.08);
    border-radius: 8px;
}
.form-input{
    width: 442px;
    height: 56px;
    border: 1px solid #C8D2DC;
    border-radius: 8px;
    margin: 20px 0;
}
.form-input1{
    width: 442px;
    height: 146px;
    border: 1px solid #C8D2DC;
    border-radius: 8px;
    margin: 20px 0;
}
.input-wraper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
input::-webkit-input-placeholder{
    color: #C8D2DC;
    padding-left: 10px;
}
input::-moz-placeholder{
    color: #C8D2DC;
    padding-left: 10px;
}
input:-ms-input-placeholder{
    color: #C8D2DC;
    padding-left: 10px;
}
input::-ms-input-placeholder{
    color: #C8D2DC;
    padding-left: 10px;
}
input::placeholder{
    color: #C8D2DC;
    padding-left: 10px;
}
.checkbox-wraper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
}
.checkbox-p{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #323232;
}
 .checkbox{
    margin-left: 60px;
 }
.submit-button{
    background-color: #8D645A;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    border-radius: 6px;
    width: 442px;
    height: 56px;
    color: #fff;
    border:unset;
    padding: 16px 40px;       
}
.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    border-top: 1px solid #DBE2DC;
    margin-top: 51px;
    padding: 100px 0 ;
}
.footer-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 990px;
}
.company-wraper{
    max-width: 281px;
}
.footer-p{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #323232;
}
.footer-heading{
    color: #323232;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

}
.icons-wraper i {
    width: 30px;
    height: 30px;
}